<nav class="bg-blue-300 flex justify-around items-center py-4">
  <h1 class="font-bold text-lg text-black bg-white px-2 py-1 border-2 border-black shadow-lg">Shopping on Rails</h1>
  <% if current_user %>
    <%= link_to "Recipes", recipes_path, class: "text-blue-800 underline text-lg hover:text-green-100" %>
    <%= link_to "Foods", foods_path, class: "text-blue-800 underline text-lg hover:text-green-100" %>
    <%= link_to "General Shopping List", "/general_shopping_list", class: "text-blue-800 underline text-lg hover:text-green-100" %>
  <% end %>
  <%= link_to "Public Recipes", "/public_recipes", class: "text-blue-800 underline text-lg hover:text-green-100" %>
  <div>
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-green-300 rounded-md px-2 py-1 hover:bg-green-50"%>
    <% else %>
      <% if current_page?(new_user_session_path) %>
        <%= link_to "Sign up", new_user_registration_path, class: "bg-green-300 rounded-md px-2 py-1 hover:bg-green-50" %>
      <% elsif current_page?(new_user_registration_path) %>
        <%= link_to "Sign in", new_user_session_path, class: "bg-green-300 rounded-md px-2 py-1 hover:bg-green-50" %>
      <% end %>
    <% end %>
  </div>
</nav>
